.auxiliar {
  position: relative;
}

.note-card {
  box-sizing: border-box;
  border-radius: 8px;
  width: 80%;
  height: 146px;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & .delete {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 5%;
    background-color: $backgroundColor;
    color: $redNote;
  }

  & .disciplina {
    color: $principalFontColor;
    margin-left: 1.5vw;
  }

  & .nota-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    font-weight: 400;
    font-size: 12px;
    padding-left: 1.5vw;
    z-index: 1;
    background-color: $desfokedColor;
    color: $greenNote;

    & img {
      margin-right: 0.4vw;
      color: $greenNote;
      background-color: $desfokedColor;
    }
  }

  & .nota-bar.yellow {
    color: $yellowNote;

    & img {
      color: $yellowNote;
    }
  }

  & .nota-bar.red {
    color: $redNote;

    & img {
      color: $redNote;
    }
  }

  
}

.note-card.artes {
  background-color: $artesColor;

  & .disciplina {
    background-color: $artesColor;
  }
}

.note-card.geografia {
  background-color: $geografiaColor;

  & .disciplina {
    background-color: $geografiaColor;
  }
}

.note-card.sociologia {
  background-color: $sociologiaColor;

  & .disciplina {
    background-color: $sociologiaColor;
  }
}

.note-card.biologia {
  background-color: $biologiaColor;

  & .disciplina {
    background-color: $biologiaColor;
  }
}
