@import "./variables.scss";
@import "./components/note-card.scss";
@import "./components/tow-years-section.scss";
@import "./components/form.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

body {
  background-color: $backgroundColor;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 0.5rem 1rem;
}
