@import "./variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Montserrat';
  background-color: $backgroundColor;
  color: $principalFontColor;
}
