$backgroundColor: rgba(15, 15, 15, 1);
$desfokedColor: rgba(0, 0, 0, 0.8);
$principalFontColor: rgba(255, 255, 255, 1);
$biologiaColor: rgba(204, 64, 144, 1);
$notSelectedBiologiaColor: rgba(204, 64, 144, 0.2);
$artesColor: rgba(5, 162, 194, 1);
$notSelectedArtesColor: rgba(5, 162, 194, 0.2);
$geografiaColor: rgba(194, 103, 25, 1);
$notSelectedGeografiaColor: rgba(194, 103, 25, 0.2);
$sociologiaColor: rgba(155, 25, 194, 1);
$notSelectedSociologiaColor: rgba(155, 25, 194, 0.2);
$greenNote: rgba(5, 255, 0, 1);
$redNote: rgba(255, 89, 100, 1);
$yellowNote: rgba(255, 255, 153, 1);
$addNote: rgba(233, 255, 26, 1);
